.divDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }
      
.olDetail {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
      
.liDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    font-family: 'Helvetica', sans-serif; 
    font-size: 30px;
    border: 1px transparent black;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.5);
    
}

.imgDetail{
    width: 50%;
    height:50%;
    border-radius: 30%;
}
    