.divConteinerAbout {
    margin-top: 50px; 
    text-align: center;
}

.h3About{
    font-size: 50px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
    color: #000000;
    text-shadow: 3px 3px #ffffff;
    
}

.imgAbout {
    margin: auto;
    display: block;
    margin-top: 20px;
  }
  